@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Magic 8 Ball App</h1>
    <h2> @ViewBag.ResponceCall1</h2>
    <h2> @ViewBag.ResponceCall2</h2>
    <img src="/images/magic8balll.png" alt="HTML5 Icon">

</div>
