@model FrontEnd.Models.History
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Index">
                <h1 class="display-4">Welcome To The Magic 8 Ball App.</h1>
                <img src="/images/magic8balll.png" alt="HTML5 Icon">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Question" class="control-label"></label>
                    <input asp-for="Question" class="form-control" maxlength="50" required   />
                    <span asp-validation-for="Question" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Ask!" class="btn btn-primary" asp-action="AnswerPage" />
                </div>
            </form>
        </div>
    </div>

</div>
